@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');


body {
    font-family: 'Arimo', sans-serif;
    background-color: #efefef;
    line-height: 1.9;
    color: #8c8c8c;
    position: relative;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #000; }

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
a, a:hover {
    text-decoration: none !important; }

.text-black {
    color: #000; }

.content {
    padding: 7rem 0; 
}



.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background: none; }

.form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000; }



.contact-wrap {
    border-radius: 15px !important;
    -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
    background: #F2eee3;
}

.button {
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #F2eee3;
    background-color: #F2eee3;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    border-color: red;
}

.button:active {
    transform: scale(0.95);
}

.button:focus {
    outline: none;
}

.button:hover{
    color: #000;
}

.button.ghost {
    background-color: transparent;
    border-color: red;
}
.btn{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}