@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');


body {
    font-family: 'Arimo', sans-serif;
    color: white;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
    width: 100%;
    height:100%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h3{
    text-align: center;
    margin-top: 25px;

}


.btn{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}