@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');


body {
    font-family: 'Arimo', sans-serif;

    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-weight: 400;
    color: white;
       background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
    background-repeat: no-repeat;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.timeline-section{
    min-height: 100vh;
    padding: 100px 15px;
}
.timeline-items{
    max-width: 1000px;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #F2eee3;
    left: calc(50% - 1px);
}
.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
    height: 16px;
    width: 16px;
    background-color: #eaa023;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top:10px;
}
.timeline-date{
    font-size: 18px;
    color: #eaa023;
    margin:6px 0 15px;
}
.timeline-content{
    margin: 10px;
    text-align: center;
    border-radius: 13px;
    transition: 200ms ease-in-out;
    background-color: #F2eee3;
    padding: 30px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.timeline-content h3{
    font-size: 20px;
    color: #000;
    margin:0 0 10px;
    text-transform: capitalize;
    font-weight: 500;
}
.timeline-content p{
    color: #000;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.button{
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #F2eee3;
    background-color: #F2eee3;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    border-color: red;
    margin-top: 20px;
    position: absolute;
    left: 46%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.button:active {
    transform: scale(0.95);
}

.button:focus {
    outline: none;
}

.button.ghost {
    background-color: transparent;
    border-color: red;
}

/* responsive */
@media(max-width: 767px){
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left:0;
    }
}


.btn{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}