<!DOCTYPE html>
<!--
// Curso Egg FullStack
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Egg news!</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            />

        <link rel="stylesheet" th:href="@{../css/journalist.css}" type="text/css"/>
        <link rel='stylesheet' th:href="@{../css/navbar.css}"/>
    </head>

    <body>
        <nav th:replace="/fragments/navbar :: nav"></nav>
        <div class="box">
            <div th:each="journalist : ${journalists}" class="card">
                <div class="imgBx"></div>
                <div class="details">
                    <h2 th:text="${journalist.name}"></h2>
                    <div sec:authorize="hasRole('ADMIN')">

                        <div style="float:left; margin-left: 15px">
                            <a class="btn btn-outline-warning btn-sm"
                               th:href="@{../journalist/modify/__${journalist.id}__}">
                                Modify
                            </a>
                        </div>
                        <div style="float:right; margin-right: 15px">
                            <form th:action="@{../journalist/delete/__${journalist.id}__}" method="POST">
                                <button class="btn btn-outline-danger btn-sm">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <a th:href="@{../journalist/create}" class="button">
                CREATE
            </a>
        </div>
    </body>
</html>
