<!DOCTYPE html>
<!--
// Curso Egg FullStack
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Egg News!</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            />

        <link th:href="@{../css/index.css}" rel="stylesheet"></link>
         <link rel='stylesheet' th:href="@{../css/navbar.css}"/>
    </head>
    <body>
        <nav>

                <ul>
                <li>
                    <a th:href="@{/logged-index}">Home</a>
                </li>
                <li>
                    <a th:href="@{../news}">News</a>
                </li>
                <li >
                    <a th:href="@{../news/create}">Add a news</a>
                </li>
                <li >
                    <a  th:href="@{../journalist}">Journalists</span></a>
                </li>
                <li >
                    <a  th:href="@{../journalist/create}">Register a journalist</a>
                </li>
                <li>
                     <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
                   
            </ul>
        </nav>
        <div class="row justify-content-center">

            <h1 align="center"> Welcome to egg news! </h1>
            <h3>Use the navbar to see the news!</h3>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        ></script>
    </body>
</html>