<!DOCTYPE html>
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--Vale dice que mires bien estas rutas-->
        <link rel="stylesheet" href="bootstrap.min.css" type="text/css"/>
        <title>Creating a new!</title>
    </head>
    <body>
        <div class="p-5 border w-75 mx-autop-5 border w-75 mx-auto">
            <h4 class="form-group text-center">Please enter the info!</h4>
            <form class="needs-validation" id="createNews" method="post" th:action="@{/news-create}" novalidate>
                <div class="mb-3">
                    <label for="title" class="form-label"></label>
                    <input
                        type="text"
                        name="title"
                        id="title"
                        class="form-control"
                        placeholder="Please enter the title"
                        required
                        />
                    <div class="invalid-feedback">No title entered</div>
                </div>
                <div class="mb-3">
                    <label for="body" class="form-label"></label>
                    <textarea
                        name="body"
                        id="body"
                        cols="30"
                        class="form-control"
                        required
                        ></textarea>

                    <div class="invalid-feedback">No body entered</div>
                </div>
                <button type="submit" class="btn btn-primary" id="submit">
                    Generate
                </button>
            </form>
            <h3 class="text-center" id="msg"></h3>
            <h3 class="text-center" id="array1"></h3>
            <h3 class="text-center" id="array2"></h3>
        </div>
        <script src="script.js"></script>
        <script
            src="/static/bootstrap.bundle.min.js"
        ></script>
        <script src="validation.js"></script>
    </body>
</html>
