<!DOCTYPE html>
<!--
// Curso Egg FullStack
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Egg news!</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            />
        <link rel="stylesheet" th:href="@{../css/timeline.css}" type="text/css"/>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" th:href="@{/}">EggNews</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{../}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" th:href="@{../news}">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{../news/create}">Add a new</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{../journalist}">Journalists</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{../journalist/create}">Register a journalist</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="top-section">
                <h1>Enjoy the news!!</h1>
            </div>
            <div class="timeline">
                <div class="line"></div>
                <div th:each="news : ${newsList}" class="section">
                    <div class="bead"></div>
                    <div class="content">
                        <h2 th:text="${news.title}"></h2>
                        <p th:text="${news.body}"></p>
                        <p th:text="${news.journalist.name}"></p>
                    </div>
                </div>
            </div>
        </div>
        <script
            th:src="@{../js/timeline.js}"
        ></script>
    </body>
</html>
