<!DOCTYPE html>
<!--
// Curso Egg FullStack
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Egg news!</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            />
        <link rel="stylesheet" th:href="@{../css/timeline.css}" type="text/css"/>
         <link rel='stylesheet' th:href="@{../css/navbar.css}"/>
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a th:href="@{/logged-index}">Home</a>
                </li>
                <li>
                    <a th:href="@{../news}">News</a>
                </li>
                <li >
                    <a th:href="@{../news/create}">Add a news</a>
                </li>
                <li >
                    <a  th:href="@{../journalist}">Journalists</span></a>
                </li>
                <li >
                    <a  th:href="@{../journalist/create}">Register a journalist</a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{../logout}">Logout</a>
                </li>

            </ul>
        </nav>
        <section class="timeline-section">
            <div class="timeline-items">
                <div th:each="news: ${newsList}"  class="timeline-item">
                    <div class="timeline-dot"></div>
                    <div class="timeline-date">
                        <span th:text="${news.releaseDate.getDate()}"></span>
                        /
                        <span th:text="${news.releaseDate.getMonth()}"></span>
                    </div>
                    <div class="timeline-content">
                        <h3 th:text="${news.title}"></h3>
                        <p th:text="${news.body}"></p>
                        <p th:text="${news.journalist.name}"></p>

                        <div style="float: left">
                            <a class="btn btn-outline-warning btn-sm"
                               th:href="@{../news/modify/__${news.id}__}">
                                Modify
                            </a>
                        </div>
                        <div style="float: right">

                            <form th:action="@{../news/delete/__${news.id}__}" method="POST">
                                <button class="btn btn-outline-danger btn-sm">Delete</button>
                            </form>
                        </div>
                        <br>
                    </div>
                </div>

            </div>

            <a th:href="@{../news/create}" class="button">
                CREATE
            </a>

        </section>
        <script
            th:src="@{../js/timeline.js}"
        ></script>
    </body>
</html>
